<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Ticketing System</strong> Inspired by a project from: <a href="https://www.ulladullawebdesign.com.au">Ulladulla Web Design</a>.
        </p>
        <p>
          <a class="icon" href="#">
            <i class="fa fa-heart"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  
}
</script>

