<template>
  <section class="hero is-info is-medium is-bold">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <router-link to="/" exact class="navbar-item" href="../">
              <h1 class="logo">Ticket System</h1>
            </router-link>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <router-link to="/" class="navbar-item">
                Create New Show
              </router-link>
              <router-link to="/shows" class="navbar-item">
                View Shows
              </router-link>
              <span class="navbar-item">
                <router-link to="/cart" class="button is-white is-outlined is-small" href="https://github.com/dansup/bulma-templates/blob/master/templates/hero.html">
                  <span class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </span>
                  <span>Cart/Checkout</span>
                </router-link>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          {{ $store.pageTitle }}
        </h1>
        <h2 class="subtitle">
            {{ this.$route.meta.description }}        
        </h2>
      </div>
    </div>

  </section>

</template>

<script>
export default {
    store: {
        pageTitle: 'pageTitle'
    },
    created() {
    }
}
</script>

<style>

.logo {
    color: white;
    font-size: 30px;
}

body .navbar-brand .is-active {
  background: none !important;
}

</style>
