<template>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="section">
                    <form class="user-details">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="e.g Alex Smith">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                            </div>
                        </div>
                    </form>
                    <form>
                        <svg-loader v-if="loading"></svg-loader>
                        <div id="dropin-container" ref="dropinContainer"></div>                        
                        <button class="button is-primary" id="submit-button" ref="braintreeSubmit">CONFIRM &amp; PAY</button>
                    </form>                        
                </div>  
            </div>  
            <div class="column">
                <div class="section">

                    <div class="show-details" id="show-details" data-session-id="40">
                        <h1>Shopping Cart</h1>
                    <div class="cart-title">
                        <h4>Your Tickets</h4>                
                    </div>
                    <div v-if="showIDS" v-for="show in showIDS" :key="show" class="cart-items" id="cart-items">
                        <router-link :to="`/show/${show}`"><h3 class="show-title">{{show}}</h3></router-link>
                        <div class="seat-meta">
                            <div class="cart-seat">Seat</div>
                            <div class="cart-price">Price</div>
                        </div>
                        
                        <div class="cart-item" v-for="seat in selected" v-if="seat.showID == show" :key="seat.id">
                            <div class="ticket-seat"><span class="seat-id">{{'Seat ' + seat.id}}</span><span class="timer" v-if="seat.timer > 0">{{ seat.timer > Math.floor(60*1000) ? Math.floor(seat.timer / (60 * 1000)) + 'm' : Math.floor(seat.timer / 1000) + 's' }}</span><span class="remove-seat" @click="selectSeat(seat, seat.id)"></span></div>
                            <div class="ticket-cost">$30.00</div>
                        </div>                    
                    </div>
                    <div class="cart-total" id="cart-total">Total ${{total}}<span class="cart-gst">inc. ${{gst}}GST</span></div>
                            <transition name="fade"> 
                                <div v-if="selected.length" class="checkout" id="checkout" style="display: block;">
                                        
                                            <p>Each Ticket <span>is reserved for 30 minutes</span> <br>once added to your cart.</p>                
                <br>
                <br>
                                        
                                        
                                </div>
                            </transition>                
                    </div>
                             
                </div> 
            </div>      
        </div>        
  </div>
</template>

<script>
let braintree = require('braintree-web')
let dropin = require('braintree-web-drop-in')
let userStorage = JSON.parse(localStorage.getItem('user'))

import { auth, dbUsers } from "../../firebaseConfig";
import axios from 'axios'
import { seatLogic } from "../../mixins/seatLogic";
import SvgLoader from "../shared/SvgLoader";

export default {
    name: "Cart",
    store: {
        pageTitle() {
            return 'pageTitle'
        } 
    },
    data() {
        return {
            showIDS: [],
            clientToken: '',
            selected: [],
            userDetails: {},
            loading: false,      
        }
    },
    components: {
        SvgLoader
    },
    computed: {
    gst: function() {
      let calc = Math.round(this.selected.length * 30) / 11;
      return this.selected.length ? calc.toFixed(2) : 0;
    },
    total() {
        return this.selected.length * 30
    }
  },
  mixins: [seatLogic],
    methods: {
        authCheck() {
            // This is how firebase checks the token when you refresh etc
            auth.onAuthStateChanged(user => {
                if (user) {

                    // Create a watcher since the users DB section is created in the background and can take a few seconds
                    let unsubscribe = dbUsers.doc(user.uid).onSnapshot(snapshot => {
                        if (snapshot.exists) {
                        this.userDetails = snapshot.data()
                        this.userDetails.id = snapshot.id

                        // Load users selected seats
                        this.loadAllSelectedSeats()

                        // Once all that is done, unsub from the DB watcher
                        unsubscribe()
                        }
                    })
                    axios.get(`https://us-central1-theatre-969b8.cloudfunctions.net/braintreeToken?userID=${user.uid}`)
                    .then(response => {
                        console.log(response.data)
                        this.clientToken = response.data.clientToken

                        if (localStorage.getItem('user')) {
                            let userStorage = JSON.parse(localStorage.getItem('user'))
                            userStorage.clientToken = this.clientToken
                            localStorage.setItem('user', JSON.stringify(userStorage))
                        }  

                        this.brainTreeDropIn()
                    })
                    .catch(err => {
                        console.log('ERROR' + err)
                    })
                } else {
                    this.userDetails = {}
                }
            })
        },   
        loadAllSelectedSeats() {
        // Once the snapshot is found, if they have any selected seats, add them
            if ( this.userDetails.selected ) { 
                Object.keys(this.userDetails.selected).forEach(async(show) => {
                    this.showIDS.push(show)
                    this.userDetails.selected[show].forEach(seat => {  
                        seat.showID = show                        
                        let seatWithCountdown = this.seatCountdown(seat)
                        this.selected.push(seatWithCountdown)
                        console.log(this.userDetails.selected)
                    })
                })            
            }
        },
        brainTreeDropIn() {

            var submitButton = this.$refs.braintreeSubmit

            const total = this.total

            this.loading = true
            
            dropin.create({
                authorization: this.clientToken,
                container: this.$refs.dropinContainer,
                locale: 'en_AU'
            },  (createErr, instance) => {
                this.loading = false
                submitButton.addEventListener('click', (e) => {
                    e.preventDefault()
                    instance.requestPaymentMethod((requestPaymentMethodErr, payload) => {
                        // Submit payload.nonce to your server
                        console.log(payload)
                        this.loading = true
                        
                        axios.post('https://us-central1-theatre-969b8.cloudfunctions.net/braintreePayment', {
                            nonce: payload.nonce,
                            amount: total
                        })
                            .then((response) => {
                                this.loading = false
                                this.$toast.open({
                                    message: 'Tickets have been purchased!',
                                    type: 'is-success'
                                })
                                this.selected.forEach(seat=> {
                                    seat.timer = 'sold'
                                })
                                console.log(response)
                            })
                    });
                });
            });
        }   
    },
    created() {    
        this.pageTitle = 'Checkout before your tickets expire!'    
        this.authCheck()       
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.user-details {
    margin-bottom: 40px;
}

form {
    display: block;
    clear: both;
}

.show-details {
    height: auto;
    overflow: hidden;
    margin: 0 0 20px;
}

.show-title {
    font-size: 24px;
    background: #171311;
}

#dropin-container {
    margin-bottom: 20px;
    position: relative;
}

.braintree-heading {
    color: white;
}

</style>
