<template>
    <div class="container">
      <div class="section">
          <div class="columns">
              <div class="column">

                <svg-loader v-if="loading"></svg-loader>
                
                <section class="floor-level" v-if="showReady">
                  <h2 class="floor-title">Floor Level</h2>	
                  <div class="stage-block">STAGE</div>							
                  <ul class="seat-row" :data-row="letter" v-for="(row, letter) in tickets" v-if="letter.length === 1" :key="letter">
                      <li class="seat" :class="{'seat-selected' : selected.find( item => item.id === seat.id), 'seat-sold' : !seatAvailable(seat), 'seat-empty' : seat.type == 'empty'}" :id="seat.id" v-for="(seat, index) in row" :key="letter+index" @click="selectSeat(seat, seat.id)">{{index+1}}</li>
                  </ul>
                </section>
                <section class="mezzanine-level" v-if="showReady">
                  <h2 class="floor-title">Mezzanine Level</h2>	
                  <ul class="seat-row" :data-row="letter" v-for="(row, letter) in tickets" v-if="letter.length === 2" :key="letter">
                      <li class="seat" :class="{'seat-selected' : selected.find( item => item.id === seat.id), 'seat-sold' : !seatAvailable(seat), 'seat-empty' : seat.type == 'empty'}" :id="seat.id" v-for="(seat, index) in row" :key="letter+index" @click="selectSeat(seat, seat.id)">{{index+1}}</li>
                  </ul>
                </section>
              </div>
              <div class="column">

                  <div class="show-details" id="show-details" data-session-id="40">
                      <h1 class="show-title">{{ show.title }}</h1>
                      <h2 class="session-date">{{ show.date }}</h2>
                  <h3 class="session-time">{{ show.time }}</h3>
                  <div class="cart-title">
                    <h4>Your Tickets</h4>
                    <div class="cart-seat">Seat</div>
                    <div class="cart-price">Price</div>
                  </div>
                  <div class="cart-items" id="cart-items">
                    <div class="cart-item" v-for="seat in selected" :key="seat.id">
                      <div class="ticket-seat"><span class="seat-id">{{'Seat ' + seat.id}}</span><span class="timer" v-if="seat.timer > 0">{{ seat.timer > Math.floor(60*1000) ? Math.floor(seat.timer / (60 * 1000)) + 'm' : Math.floor(seat.timer / 1000) + 's' }}</span><span class="remove-seat" @click="selectSeat(seat, seat.id)"></span></div>
                      <div class="ticket-cost">$30.00</div>
                      </div>

                      <div class="cart-total" id="cart-total">Total ${{selected.length * 30}}<span class="cart-gst">inc. ${{gst}}GST</span></div>
                      <transition name="fade"> 
                        <div v-if="selected.length" class="checkout" id="checkout" style="display: block;">
                            
                              <p>Each Ticket <span>is reserved for 30 minutes</span> <br>once added to your cart.</p>    
                              
                              <br>
                              <br>
                            
                            <router-link to="/cart"><a class="button is-info is-large">Checkout now</a></router-link>
                        </div>
                      </transition>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { dbShows, auth, dbUsers } from "../../firebaseConfig";
import { seatLogic } from "../../mixins/seatLogic";
import SvgLoader from "../shared/SvgLoader";

export default {
  name: "TicketGrid",
  store: {
        pageTitle() {
            return 'pageTitle'
        } 
    },
  data() {
    return {
      showID: '',
      userDetails: {},
      loading: false,
      selected: [],
      show: {},
      tickets: {},
      floorSeats: {},
      mezzanineSeats: {}
    };
  },
  components: {
    SvgLoader
  },
  computed: {
    gst: function() {
      let calc = Math.round(this.selected.length * 30) / 11;
      return this.selected.length ? calc.toFixed(2) : 0;
    },
    showReady() {
      // This is true once the show has been ajaxed in
      return Object.keys(this.tickets).length > 0
    }
  },
  mixins: [seatLogic],
  methods: { 
    authCheck() {
      return new Promise(async (resolve, reject) => {
        // This is how firebase checks the token when you refresh etc
        await auth.onAuthStateChanged(user => {
          if (user) {

            // Create a watcher since the users DB section is created in the background and can take a few seconds
            let unsubscribe = dbUsers.doc(user.uid).onSnapshot(snapshot => {
              if (snapshot.exists) {
                this.userDetails = snapshot.data()
                this.userDetails.id = snapshot.id

                // Load users selected seats
                this.loadSelectedSeats()

                // Once all that is done, unsub from the DB watcher
                unsubscribe()
                resolve()
              }
            })
          } else {
            this.userDetails = {}
            // reject('Soz, user aint happening, brah')
          }
        })
      })      
    },
    loadShow(next) {    
      dbShows.doc(this.showID).onSnapshot(snapshot => {
        if (this.show) {
          this.show = snapshot.data()
          let shows = [
             {
              showID: this.showID,
              title: this.show.title,
              date: this.show.date,
              description: this.show.description,
              time: this.show.time,
              venue: this.show.venue
            }
          ]
          this.pageTitle = this.show.title
          localStorage.setItem('shows', JSON.stringify(shows))
        }        
        this.tickets = this.show.tickets
        this.loading = false         
      })
    },
    loadSelectedSeats() {
      // Once the snapshot is found, if they have any selected seats, add them
      if (this.userDetails.selected && this.userDetails.selected[this.showID] !== undefined ) {
        let seatArr = []
        this.userDetails.selected[this.showID].forEach(async seat => {                          
            let seatWithCountdown = await this.seatCountdown(seat)            
            seatArr.push(seatWithCountdown)
        }) 
        this.selected = seatArr
      }            
    }   
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (vm.selected) {
        vm.authCheck()
      }
    })
  },
  beforeRouteUpdate (to, from, next) {

    this.loading = true
    this.show = {}

    // Update showID to next URL
    this.showID = to.params.id

    // Remove all current countdown timers so they don't follow to the next show
    this.selected.forEach(seat => {
      clearInterval(seat['countdown' + seat.id])
    })

    // Reset all selected 
    this.selected = []

    // Check or create user account (anonymously = same as a session)
    this.authCheck().then(() => {
      // Load the show details
      this.loadShow()  
    })
    .catch(err => {
      console.log(err)
    })   

    // Make sure it navigates to the next URL
    next() 
  },
  created: function() {   
    
    // Initial state is loading
    this.loading = true

    // Get the current URL ID to load the correct show
    this.showID = this.$route.params.id    

    // Check or create user account (anonymously = same as a session)
    this.authCheck().then(() => {
      // Load the show details
      this.loadShow()  
    })  
    .catch(err => {
      console.log(err)
    })  
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>



</style>
