@font-face{font-family:'Bizon';src:url("../assets/fonts/bizon-webfont.woff2") format("woff2"),url("../assets/fonts/bizon-webfont.woff") format("woff");font-weight:normal;font-style:normal}

.floor-level {
  margin-bottom: 5px;
}

.floor-title {
  text-align: center;
  font-size: 40px;
}

.seat-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.seat-row:nth-child(even) {
  background: #eaeaea;
}

.seat-row:before,
.seat-row:after {
  font-family: "Courier New", Courier, monospace;
  content: attr(data-row);
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 10px;
}

.seat,
.stage-block {
  font-family: "Courier New", Courier, monospace;
  flex: initial;
  padding: 0 6px;
  margin: 0 2px;
  background: #f7f7f7;
  border-radius: 10px 10px 5px 5px;
  min-width: 33.59px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}

.seat:hover {
  background: #e1e1e1;
}

.seat-selected,
.seat-selected:hover {
  background: #0099c1 !important;
  cursor: pointer !important;
  border: none !important;
  color: #f7f7f7 !important;
}

.seat-sold,
.seat-sold:hover {
  border: 1px solid #40080a;
  background-color: #40080a;
  color: hsl(358, 61%, 68%);
  cursor: not-allowed;
}

.seat-empty,
.seat-empty:hover {
  background: #f7f7f7;
  text-indent: -9999px;
  border: none;
  width: 23px;
  cursor: unset;
}

#k4 {
  width: 20%;
  text-indent: -9999px;
  cursor: not-allowed;
}

#k4:hover {
  background: #f7f7f7;
}

#k4:after {
  content: "SOUND BOOTH";
  color: black !important;
  width: 100%;
  height: 100%;
  float: left;
  text-indent: 0;
}

.stage-block, #k4 {
  cursor: unset;
  border-radius: 0 !important;
}

.seat-id {
  margin-right: 10px;
}

.seat-id, .timer {
  display: inline-block;
}

.timer {
  font-size: 14px;
  background: url(../assets/timer.gif) no-repeat center center;
  background-size: 210%;
  padding: 10px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  color: #00abcc;
}

.show-details {
    overflow: scroll;
    width: 100%;
    background-color: #1d1917;
    color: #fff;
    height: 770px;
    float: left;
    padding: 20px 40px;
    text-align: center;
    margin-left: 30px;
}

.show-title {
    font-size: 2.3em;
    transition: all 0.5s linear
}

.session-date {
    font-weight: normal;
    color: #b4b3b3;
    font-size: 1.4em;
}

.session-time {
    padding-bottom: 20px;
    border-bottom: 2px solid #393735;
    margin-bottom: 20px;
    font-weight: normal;
    color: #665757;
}

.cart-title, .seat-meta {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 2px solid #393735;
}

.seat-meta {
  padding-bottom: 5px !important;
}

.cart-title h4 {
    flex-basis: 100%;
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 20px;
}

.cart-title div, .seat-meta div {
    font-size: 1.2em;
    flex: auto;
}

.cart-items {
    padding-bottom: 20px;
}

.cart-item {
    display: flex;
    font-weight: bold;
    font-size: 1.3em;
    padding: 7px 0;
    border-bottom: 2px solid #393735;
}

.ticket-cost, .ticket-seat {
    flex: auto;
}

.cart-total {
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 20px;
}

.checkout p span {
    font-weight: bold;
    color: #00abcc;
}

.cart-gst {
    display: block;
    font-size: 0.55em;
    font-weight: normal;
    color: #665757;
}

.remove-seat {
    background-position: -15px -183px;
    background-image: url(../assets/sprite.png);
    background-size: 45px;
    background-repeat: no-repeat;
    margin: 0 10px;
    padding: 0 8px;
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    font-family:'Bizon';
    color: #0099c1;
  }
  
  .show-details h1, .show-details h2, .show-details h3, .show-details h4 {
    color: white !important;
  }
  
  .checkout {
    font-size: 20px;
  }
  
  .checkout .button {
    font-family:'Bizon';
    font-size: 16px;
    padding: 20px 40px;
  }

  .aligner {
    display: flex;
    min-height: 450px;
    align-items: center;
    justify-content: center;
  }
  
  .aligner-item {
    max-width: 50%;
  }

  .hero.is-info a.navbar-item:hover, .hero.is-info a.navbar-item.is-active, .hero.is-info .navbar-link:hover, .hero.is-info .navbar-link.is-active {
    background-color: #323e4c !important;
  }
  