<template>
    <div class="container">
        <div class="section">

                <div class="card">

                    <header class="card-header">

                        <h1 class="card-header-title">Create New Show</h1>

                    </header>

                    <div class="card-content">

                        <form @submit.prevent="createShow">

                        <div class="field">
                            <label class="label">Show Title</label>
                            <div class="control">
                                <input v-model="title" class="input" type="text" placeholder="Text input">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Date</label>
                            <div class="control has-icons-left">
                                <input class="input date" type="date" placeholder="Text input" v-model="date">
                                <span class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                                </span>
                            </div>
                            <!-- <p class="help is-success">This username is available</p> -->
                        </div>

                        <div class="field">
                            <label class="label">Time</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" placeholder="5:30pm – 10:00pm" v-model="time">
                                <span class="icon is-small is-left">
                                <i class="fas fa-clock"></i>
                                </span>
                            </div>
                            <!-- <p class="help is-danger">Time must be formated like: 5:00pm as an example</p> -->
                        </div>

                        <div class="field">
                            <label class="label">Venue</label>
                            <div class="control">
                                <div class="select">
                                <select v-model="venue">
                                    <option>Select dropdown</option>
                                    <option>Venue 1</option>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Description:</label>
                            <div class="control">
                                <textarea v-model="description" class="textarea" placeholder="Textarea"></textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" :disabled="!isValid" class="button is-link">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-text">Cancel</button>
                            </div>
                        </div>

                        </form>
                
                    </div>

                </div>

            </div>
  </div>
</template>

<script>
import { dbShows } from "../../firebaseConfig";
import { seats } from "./seatStore";
export default {
    name: "TicketGrid",
    store: {
        pageTitle() {
            return 'pageTitle'
        } 
    },
    data() {
        return {
            title: '',
            date: '',
            time: '',
            venue: '',
            description: '',
            tickets: {
                floorSeats: {},
                mezzanineSeats: {}
            },
            loading: false,      
        }
    },
    methods: {
        createShow: function() {
           // alert(this.titleFormatted)
            dbShows
                .doc(this.titleFormatted)
                .set({
                    title: this.title,
                    date: this.date,
                    time: this.time,
                    venue: this.venue,
                    description: this.description,
                    tickets: this.allTickets
                })
                    .then(() => {
                        this.$toast.open({
                            message: 'Show Added!',
                            type: 'is-success'
                        })
                        this.title = '',
                        this.date = '',
                        this.time = ''
                    })
                    .catch(err => {
                        alert(err);
                    });
        },        
    },
    computed: {
        isValid() {
            
            // let currentTime = new Date()
            // let dateValid = this.date.getTime() > currentTime

            if (this.title && this.date && this.time) {
                return true
            } else {
                return false
            }
        },
        titleFormatted() {
            return this.title.toLowerCase().replace(/ /g,"-");
        },
        allTickets() {
            return Object.assign(this.tickets.floorSeats,this.tickets.mezzanineSeats)
        }
    },
    created: function() {
        this.pageTitle = "Create a new show"
        Object.keys(seats.rows).forEach(row => {
            if (row.length === 1) {
                this.tickets.floorSeats[row] = seats.rows[row]
            } else {
                this.tickets.mezzanineSeats[row] = seats.rows[row]
            }
        })
        console.log(this.allTickets)
       // console.log(this.tickets.mezzanineSeats)
        // tickets.rows.forEach(seat => {
        //     if (this.seat.floor === 'floor') {
        //         this.tickets
        //     }
        // })
        // this.tickets.floorSeats = tickets.rows
        // this.tickets.mezzanineSeats = mezzanineSeats
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.Aligner {
  display: flex;
  min-height: 450px;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}


</style>
