<template>
    <div class="container">
        <div class="section">            
            <div class="tile is-ancestor shows--wrap">
            <div class="tile is-parent show--tile" v-for="show in shows" :key="show.id">
                <router-link :to="show.showURL">
                    <article class="is-child">
                        <h2 class="title">{{show.title}}</h2>
                        <figure class="image">
                            <svg-loader v-if="loading"></svg-loader>
                            <img v-on:load="loading = false" :src="show.thumbnail" />
                        </figure>
                        <!-- <div class="content">
                            <p>{{show.date}} | {{ show.time }}</p>
                        </div> -->
                    </article> 
                </router-link>               
            </div>                
            </div>                
        </div>
  </div>
</template>

<script>
import { dbShows } from "../../firebaseConfig";
import { seats } from "./seatStore";
import SvgLoader from "../shared/SvgLoader";
export default {
    name: "TicketGrid",
    store: {
        pageTitle() {
            return 'pageTitle'
        } 
    },
    components: {
        SvgLoader
    },
    data() {
        return {
            shows: [],
            loading: true,      
        }
    },
    created: function() {
        this.pageTitle = 'Upcoming Shows'
        dbShows.get()
            .then(snapshot => {
                const shows = snapshot.docs
                shows.forEach(showData => {                    
                  const show = showData.data()

                let tags = show.title.replace(/ /g, ',').toLowerCase()
                show.thumbnail = `https://source.unsplash.com/440x360/?${tags}`
                show.showURL = `/show/${showData.id}`
                console.log(show)
                this.shows.push(show)  

                })
            })
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.Aligner {
  display: flex;
  min-height: 450px;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.shows--wrap {
    flex-wrap: wrap;
}

.show--tile {
    flex-basis: 33% !important;
    margin-bottom: 30px;
}

.show--tile .title {
    font-size: 24px;
    margin-bottom: 5px;
}


</style>
