<template>
  <div id="app">
    <nav-bar></nav-bar>
    <router-view/>
    <footer-hero></footer-hero>
  </div>
</template>

<script>
import {auth} from './firebaseConfig'
import NavBar from './components/shared/NavBar'
import FooterHero from './components/shared/Footer'
export default {  
  name: 'App',
  components: {
    NavBar,
    FooterHero
  },
  created: function() {
    auth.signInAnonymously()
    .then((user)=> {
      let userDetails = {
        Id: user.uid
      }
      if (!localStorage.getItem('user')) {
        localStorage.setItem('user', JSON.stringify(userDetails))
      }      
    })
    .catch(function(error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // ...
    });
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './assets/fonts/fontawesome-all.min.css';
@import './css/hero.css';
@import './css/show.css';

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
